<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Editor Pro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="assets/svg/ideas.svg" width="200px"/>
      <em class="caption">
        "Don't just think about it, write it down"
      </em>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="auth.googleSignin()">Google sign in</button>
    </mat-card-actions>
  </mat-card>
</div>