/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css');
@import url('https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/themes/beagle.css');
@import '~katex/dist/katex.css';


//Remove blue outline in Chrome
div:focus {outline: 0;}

html, 
body { height: 100%; background: #F8F8F8; }
body { margin: 0; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
